                    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
                     :root {
                        --blue: #00b8b8;
                        --black: #333;
                        --white: #fff;
                        --light-color: #666;
                        --light-bg: #eee;
                        --border: 2rem solid rgba(0, 0, 0, .1);
                        --box-shadow: 0.5rem 1rem rgba(0, 0, 0);
                    }
                    
                    * {
                        font-family: 'Roboto' sans-serif;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        outline: none;
                        border: none;
                        text-decoration: none;
                        text-transform: capitalize;
                    }
                    
                    *::webkit-scrollbar {
                        height: 5rem;
                        width: 1rem;
                    }
                    
                    *::-webkit-scrollbar-track {
                        background-color: transparent;
                    }
                    
                    *::-webkit-scrollbar-thumb {
                        background-color: var(--blue);
                    }
                    
                    html {
                        font-size: 62.5%;
                        overflow-x: hidden;
                        scroll-behavior: smooth;
                        scroll-padding-top: 6.5rem;
                    }
                    
                    .header {
                        position: fixed;
                        top: 0;
                        left: 0;
                        right: 0;
                        z-index: 1000;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 2rem 9%;
                        background: #fff;
                        box-shadow: var(--box-shadow);
                    }
                    
                    .header .logo {
                        color: orange;
                        font-size: 2rem;
                    }
                    
                    span {
                        color: skyblue;
                    }
                    
                    .header .nav {
                        margin: 0 2rem;
                        font-size: 1.7rem;
                        color: cornflowerblue;
                    }
                    
                    .header .nav a {
                        margin: 0 1rem;
                        font-size: 1.7rem;
                        color: var(--black);
                    }
                    
                    .header .nav a:hover {
                        color: skyblue;
                    }
                    
                    .header .icons div {
                        height: 4.5rem;
                        width: 4.5rem;
                        line-height: 4.5rem;
                        border-radius: .5rem;
                        background-color: #eee;
                        color: var(--black);
                        font-size: 2rem;
                        margin-right: .3rem;
                        text-align: center;
                    }
                    
                    .header .icons div:hover {
                        background: skyblue;
                        color: black;
                    }
                    
                    .header .search-form {
                        position: absolute;
                        top: 190%;
                        right: -110%;
                        width: 80rem;
                        height: 5rem;
                        border-radius: .5rem;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        box-shadow: var(--box-shadow);
                        background-color: bisque;
                    }
                    
                    .link-btn {
                        display: inline-block;
                        padding: 1rem 3rem;
                        border-radius: .5rem;
                        font-size: 1.7rem;
                        border-radius: .5rem;
                        background-color: royalblue;
                        cursor: pointer;
                        color: var(--white);
                    }
                    
                    #menu-btn {
                        display: none;
                    }
                    
                    @media (max-width:991px) {
                        html {
                            font-size: 10px;
                        }
                        .header nav {
                            position: absolute;
                            top: 99%;
                            left: 0;
                            right: 0;
                            color: var(--black);
                            border-top: var(--border);
                            border-bottom: var(--border);
                            padding: 1rem 0;
                            text-align: center;
                            flex-flow: column;
                            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0)
                        }
                        .header {
                            padding: 2rem;
                        }
                    }
                    
                    @media (max-width:450px) {
                        html {
                            font-size: 10px;
                        }
                        .header nav {
                            display: none;
                        }
                    }
                    
                    @media (max-width:768px) {
                        #menu-btn {
                            display: inline-block;
                        }
                        .header #search-btn {
                            display: none;
                        }
                        .header #login-btn {
                            display: none;
                        }
                        .header .link-btn {
                            display: none;
                        }
                    }
                    
                    @media (max-width:249px) {
                        #menu-btn {
                            display: inline-block;
                        }
                        .header #search-btn {
                            display: none;
                        }
                        .header #login-btn {
                            display: none;
                        }
                    }